h1 {
    font-family: sans-serif;
    color: #0038A8;
}

table, td, th {
    table-layout: fixed;
    width: 30%;
    text-align: center;
    border: 4px solid black;
    border-collapse: collapse;
}

button:active, .activeOpButton {
    color: green;
    background-color: lightgreen;
}